body{
    background-color: rgb(240, 225, 255);

}
.body{
    display: flex;
    justify-content: space-between;
    font-family: system-ui;
}
aside{
    width: 18%;
    margin: 0;
    margin-right: 2%;
    border-radius: 13px;
    background-color: beige;
    border: 1px solid rgb(221, 221, 221);
    height:450px;
    padding: 1%;
    font-weight: bolder;
    position: sticky;
    top:25px;
    left:0%;
    box-shadow: 7px 7px 20px aliceblue;
}

aside h4{
    font-weight: bolder;
    font-family:cursive;
}
.logo{
    width:36px;
    height:36px;
    border-radius:10px;
    background:linear-gradient(100deg,rgb(90, 148, 255),rgb(43, 43, 255));
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:900;
    box-shadow: 6px 6px 16px rgb(255, 255, 104);
}
aside a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 30px;
    transition: 0.4s;
    color: black;
}
aside a:hover{
    background:rgba(108,92,231,0.12);
    color:#6c5ce7;
    border-radius: 6px;
    width: auto;
    height: auto;
    padding: 2%;
}
section{
    background-color: transparent;
    height: auto;
    width: auto;
    display:flex;
    justify-content: space-between;
    
}
.co{
    width: 98%;
    margin: 0;
    margin-right: 2%;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    padding: 3%;
    font-weight: bolder;
    position: sticky;
    box-shadow: 7px 7px 20px aliceblue;
    border: 1px rgb(221, 221, 221) solid;
    margin-top: 10px;
}
.co:hover{
    transform: scale(1.1);
    transition: 0.6s;
    margin-bottom: 30px;
    margin-top: 30px;
}

input{
    width: 40%;
    height: auto;
    padding: 1%;
    border: 1px rgb(201, 201, 201) solid;
    margin-bottom: 20px;
    border-radius:16px;
    box-shadow: 2px 2px 50px rgb(230, 230, 230);
    text-align: center;
    color: #c6beff;
}
input[type=search]:hover{
    width: 100%;
    transition: 0.5s;
}
main{
    display: block;
    width: 60%;
    margin-right: 2%;
}
.racine{
   margin:2%;
   width: auto;
   height: 40%;
   padding: 1%;
   font-size: large;
   font-weight: 800;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style:oblique;
   color: #6c5ce7;
   background-color:#c6beff;
   border-radius: 9px;
   margin-left: 14px;
}
ul{
    list-style:none;
}
li{
    margin-left: 6px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color:#6c5ce7;
    
    
}
.h #un{
    width: 20%;
    height: 20%;
    margin-left: 25%;
}
.h{
    display: flex;

}
h2{
    color:rgb(30, 71, 255) ;
    text-shadow: 3px 4px 20px rgb(144, 164, 255);
    font-style: oblique;
    font-size: xx-large;
}
table{
    text-align: justify;
}
th{
    background-color:#6c5ce7;
    color: wheat;
    text-align: center;
}
td{
    background-color:#c6beff;
    padding: 1.5%;
}
h4{
    color:#6c5ce7;
}
.ka{
    display: flex;
    justify-content: space-between;
}
.ka td,th{
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
iframe{
    width: 100%;
    height: 400px;
    border-radius: 8px;
}
footer{
    background-color:rgb(224, 224, 224) ;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6c5ce7;
    font-weight: 200;
    margin-top: 2%;
}
br{
    border-width: 7px;
    color: #6c5ce7;
}